/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-heading: "Sen", sans-serif;
    --primary-color: #FFB900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #5F5B53;
}

li {
    list-style: none;
}

.btn {
    padding: 0px 16px;
    /* custom the button */
    height: 50px;
    min-width: 118px;
    border-radius: 50px;
    background: #171100;
    color: #fff;
    /* center the text */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    /* cursor */
    cursor: pointer;
}

.btn:hover {
    border-radius: 0px;
}

.title {
    color: #171100;
    font-family: var(--font-heading);
    font-weight: 700;
}

.desc {
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

/* Header */
.header {
    padding: 36px 0 8px;
    position: sticky;
    top: -28px;
    background: #FFFCF4;
    z-index: 999;
}

.header .body {
    display: flex;
    align-items: center;
}

.header__nav {
    margin-left: auto;
}

.header__list {
    display: flex;
}

.header__list .item a {
    position: relative;
    padding: 8px 21px;
}

.header__list .item.active a::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
    /*  */
    left: 21px;
    bottom: 6px;
}

.header__list .item.active a,
.header__list .item:hover a {
    color: #171100;
    text-align: center;
    font-size: 1.6rem;
    text-shadow: 0.5px 0 0 currentColor;
}

.header__action {
    margin-left: 49px;
}

.header__action .btn {
    min-width: 144px;
    font-size: 1.6rem;
    font-weight: 600;
}

/* Hero */
.hero {
    background: #FFFCF4;
    padding: 56px 0 65px;
}

.hero .body {
    display: flex;
    column-gap: 130px;
}

.hero__media {
    width: 570px;
    position: relative;
}

.hero__img {
    max-width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.hero__summary {
    background: #fff;
    width: 270px;
    padding: 24px;
    /* position */
    position: absolute;
    right: 0;
    bottom: 48px;
    border-radius: 12px;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
    /* display */
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 14px;
}

.hero__item {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.hero__item--icon {
    width: 48px;
    height: 48px;
    background: #FFFCF4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.hero__item:nth-of-type(2) .hero__item--icon {
    background: #FCEFFF;
}

.hero__item:nth-of-type(3) .hero__item--icon {
    background: #EBEAFF;
}

.hero__item--label {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 185.714%;
}

.hero__item--title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
}

.hero__content {
    width: 470px;
}

.hero__title {
    margin-top: 64px;
    /* font */
    font-size: 5.8rem;
    line-height: 6.8rem;
    letter-spacing: -0.116rem;
}

.hero__desc {
    margin-top: 22px;
}

.hero__cta-group {
    margin-top: 38px;
    display: flex;
    column-gap: 28px;
}

.hero__cta-group .btn {
    min-width: 180px;
    height: 64px;
    background: var(--primary-color);
    /* text */
    font-weight: 600;
    font-size: 1.8rem;
}

.hero__cta-group .watch-video {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    column-gap: 14px;
    cursor: pointer;
    transition: transform 300ms ease;
}

.hero__cta-group .watch-video:hover {
    transform: scale(1.07);
}

.hero__cta-group .watch-video .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
}

.hero__cta-group .watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

.hero__engagement {
    margin-top: 48px;
}

.hero__engagement .stats {
    margin-top: 8px;
    display: flex;
    column-gap: 28px;
}

.hero__engagement .stats strong {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    margin-right: 8px;
    line-height: 122.727%;
}

/* Popular */
.popular {
    padding: 200px 0;
    background: #fff;
}

.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-top__title {
    font-size: 3.8rem;
    line-height: 4.8rem;
    letter-spacing: -0.76px;
}

.popular-top__desc {
    margin-top: 16px;
    max-width: 458px;
}

.popular-top__controls {
    width: 98px;
    display: flex;
    justify-content: space-between;
}

.popular-top__button {
    width: 40px;
    height: 40px;
    /* display */
    display: flex;
    align-items: center;
    justify-content: center;
    /* color */
    color: var(--primary-color);
    background: #fff;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    /* transition */
    transition: all 450ms ease;
}

.popular-top__button:hover {
    color: #fff;
    background: var(--primary-color);
}

.popular-bottom .course-list {
    display: flex;
    column-gap: 30px;
    margin-top: 55px;
}

.popular-bottom .course-item {
    max-width: 370px;
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
    background: #FFF;
    border: 1px solid #E2DFDA;
    transition: all 450ms ease;
}

.popular-bottom .course-item:hover {
    transform: scale(1.05);
    border-color: transparent;
    box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
}

.popular-bottom .course-item .thumb {
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
}

.popular-bottom .course-item .info {
    padding: 16px 22px 22px;
}

.popular-bottom .course-item .head {
    display: flex;
    justify-content: space-between;
}

.popular-bottom .head .course-title {
    margin-right: 30px;
}

.popular-bottom .head .course-title a {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
}

.popular-bottom .course-desc {
    margin-top: 6px;
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 185.714%;
}

.popular-bottom .course-rating {
    color: #FEA31B;
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.popular-bottom .foot .course-price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
}

.popular-bottom .foot {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-bottom .foot .book {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 185.714%;
    border: none;
}

.popular-bottom .foot .book:hover {
    background: var(--primary-color);
}

/* Feedback */
.feedback {
    background: #2E2100;
    padding: 96px 0;
}

.feedback .feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback .feedback-item {
    width: 100%;
    display: flex;
    flex-shrink: 0;
}

.feedback .info .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .info .title {
    margin-top: 18px;
    color: #F7F7F7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41;
}

.feedback .info .desc {
    margin-top: 4px;
    color: #BFBCB2;
    font-size: 1.4rem;
    line-height: 1.85;
}

.feedback .info .dots {
    display: flex;
    align-items: center;
    column-gap: 6px;
    margin-top: 28px;
}

.feedback .info .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    display: inline-block;
    cursor: pointer;
}

.feedback .info .dot.active {
    background: var(--primary-color);
    cursor: default;
}

.feedback .content {
    width: 770px;
    margin-left: auto;
}

.feedback .container .review {
    color: #FFF;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.53;
    margin-left: 30px;
}

/* Features */
.features {
    background: #fff;
}

.features-1st {
    padding: 200px 0 100px;
}

.features .body {
    display: flex;
    justify-content: space-between;
}

.features-1st .features__images {
    width: 570px;
    display: flex;
    justify-content: space-between;
}

.features-1st .features__image {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.features-1st .features__image.lower {
    margin-top: 34px;
}

.features__content {
    width: 470px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.features__content .title {
    font-size: 38px;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.features__content .desc {
    margin-top: 16px;
}

.features__content .btn {
    margin-top: 32px;
    min-width: 137px;
    background: var(--primary-color);
    color: #FFF;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
}

.features-2nd {
    padding: 100px 0 200px;
}

.features-2nd .body {
    flex-direction: row-reverse;
}

.features-2nd .features__image {
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
}

.features-2nd .features__content {
    width: 570px;
}